<div class="login-wrap">
	<div class="login-html">
    <h2 for="user" class="tema">SoliduSystem</h2>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">

      <form >

			<div class="sign-in-htm">
				<div class="group">
					<label for="pass" class="label">Email</label>
					<input id="pass" type="email" class="input" formControlName="emailIniciar" >
				</div>
			<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input"  formControlName="passwordIniciar" >
				</div>
				<div class="group">
					<input type="submit"  class="button" value="Iniciar Sesion" >
					<!-- Button trigger modal -->
 <a type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
 Modificar mi contraseña
  </a>
  <!--<button type="button" class="btn btn-secondary" (click)="cerrarSesion()" data-bs-dismiss="modal">Cerrar Sesion</button> -->

  
  

				</div>


				<div class="hr"></div>
     

			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" formControlName="Usernameregistro" >
				</div>
				<div class="group">
					<label for="pass" class="label">Email</label>
					<input id="pass" type="email" class="input"  formControlName="emailregistro" >
				</div>
				<div class="group">
					<label for="pass" class="label">password</label>
					<input id="pass" type="password" class="input" formControlName="passwordregistro" >
				</div>
				<div class="group">
					<input type="submit" class="button" value="Registrame" >
				</div>
				<div class="hr"></div>
	
			</div>
    </form>

		</div>
	</div>
	
</div>
